/* for navabr */

.text-logo {
    /* color: #fff!important; */
    color: white;
    font-size: 25px;
  }
  .text-color {
    color: #ff9800;
  }
  .new-bg {
    background-color: #263248;
  }
  .mybtn {
    color: white !important;
    border-color: #da8405;
    font-weight: 500;
  
  }
  .mybtn:hover  {
    background-color: white !important;
    color:black !important;
  }
  .dropdown-menu {
  
  margin-top: 12px !important;
  }
  
  .btn {
  padding: 5px 8px !important;
  font-size: 13px !important;
  }

  /* for delete img */
  .myImg {
    margin-top: 29px;
    width: 25%;
    cursor: pointer;
   
  }


  /* for footer */
  /* for navabr */

.text-logo {
  /* color: #fff!important; */
  color: white;
  font-size: 25px;
}
.text-color {
  color: #ff9800;
}
.new-bg {
  background-color: #263248;
}
.mybtn {
  color: white !important;
  border-color: #da8405;
  font-weight: 500;

}
.mybtn:hover  {
  background-color: white !important;
  color:black !important;
}
.dropdown-menu {

margin-top: 12px !important;
}

.btn {
padding: 5px 8px !important;
font-size: 13px !important;
}
.myImg {
 
  margin-top: 25px;
  width: 25%;
 
  cursor: pointer;
}
 /* for footer */
 body{
  font-family: 'Titillium Web', sans-serif;

}
.navbar-brand {
  font-weight: 600 !important;
  font-size: 25px !important;
  margin-right: 3rem !important;
}

.ty-logo1{
  font-size: 25px;
  left: 10px;
  position: relative;
}

.ty-span1 {
  color: #ff9800;
  font-size: 25px;
}

.new-bg {
  background-color: #263248;
}

.new-link {
  color: #fff !important;
  padding: 5px 12px !important;
  ;
}

.new-link:hover {
  color: #ff9800 !important;
}

footer {
  background-color: #F5F5F5;
  /* background-color: red; */
}
 .footer {
    margin-top: 226px !important;
  bottom: 0px;
  left: 0;
  width: 99%;
  z-index: 1;
  margin-top: 10px;
}

.ty-social {
  right: 315px;
  position: relative;
  top: 5px;
}

.ty-social a {
  color: #263248;
  font-size: 22px;
  margin: 10px 5px;
}

i.fab.fa-facebook-f {
  /* background-color: #9e9e9ed1; */
  padding: 6px 12px;
  border: 2px solid #ff9800;
  border-radius: 10px;
}

i.fab.fa-linkedin-in {
  /* background-color: #9e9e9ed1; */
  padding: 6px 8px;
  border: 2px solid #ff9800;
  border-radius: 10px;
}

i.fab.fa-instagram {
  /* background-color: #9e9e9ed1; */
  padding: 6px 8px;
  border: 2px solid #ff9800;
  border-radius: 10px;
}

.ty-text {
  color: #263248;
  font-weight: 600;
  right: 175px;
  top: 10px;
}

@media (max-width:767px){
  .col-md-3.ty-text{
      top: -10px;
  left: 40px;
  position: relative;
  }
  .fab.fa-facebook-f{
      left: 420px;
      bottom: 14px;
  position: relative;
  }
  .fab.fa-linkedin-in{
      left: 420px;
      bottom: 14px;
      position: relative;
  }
  .fab.fa-instagram{
      left: 420px;
      bottom: 14px;
      position: relative;
  }
  .ty-logo{
      position: relative;
      left: 106px;
  }
}