<!-- <div class="testimonial-slider">
						 <div class="text-center mb-4 ">
							<i class="fas fa-quote-left text-lg text-color"></i>
							<img src="./images/bg/dummy.png" class="tst-img mt-4" width="60px" height="60px">
							<p class="my-4 text-white-50">Laboriosam molestias aperiam sit corporis sunt, hic
								veritatis possimus optio reprehenderit, laudantium excepturi, consequatur. Assumenda
								hic error veniam exercitationem</p>

							<div>
								<h4 class="mb-0 text-capitalize text-white font-weight-normal">John Donas</h4>
								<span class="text-white-50">Manager</span>
							</div>
						</div>
						<div style="background-color: #0099e6;">
							<blockquote class="blockquote blockquote-style">
							<i class="fas fa-quote-left text-lg text-color"></i>
								<p class="blockquote-text">I’ve been quite satisfied with the projects that I’ve worked with them and yes, I’d be willing to work with them on future projects that we do.</p></blockquote>
							<i class="fas fa-quote-right text-lg  float-right"></i>
						
							</div>				
					</div> -->