
.navbar-brand {
    font-weight: 600 !important;
    font-size: 20px !important;
    margin-right: 1rem !important;
}

.ty-logo1{
    font-size: 25px;
    left: 10px;
    position: relative;
}

.ty-span1 {
    color: #ff9800;
    font-size: 20px;
}

.new-bg {
    background-color: #263248;
}

.new-link {
    color: #fff !important;
    padding: 5px 12px !important;
    
}

.new-link:hover {
    color: #ff9800 !important;
}

footer {
    background-color: #F5F5F5;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    
}

.ty-social a {
    color: #263248;
    margin: 10px 5px;
}

.myicon-fb,.myicon-inst,.myicon-linkd{
    padding: 2px 6px;
    border: 1px solid #ff9800;
    border-radius: 6px;
    font-size: 16px;
}
.myicon-fb:hover,.myicon-inst:hover,.myicon-linkd:hover {
    color:white;
    background-color: #394a69;
    transition:2s;
    padding: 2px 6px;
    border-radius: 6px;
    font-size: 16px;
    border: 1px solid white;

}

.ty-text {
    color: #263248;
    font-weight: 600;
    top: 10px;
}

