<link rel="stylesheet" type="text/css" href="https://ThanushreeCU.github.io/TY_TechElevate_TrainingMaintenance_Thanushree/ty-styles-footer.css">

<footer class="footer">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3" style="text-decoration: none;">
      <span class="navbar-brand ty-logo1">
        TES<span class="ty-span1">TY</span>ANTRA
      </span>
    </div>
    <div class="col-md-3">
      <div class="ty-social">
        <a href="">
          <i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-linkedin-in"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
       </div>
    </div>
    <div class="col-md-3 ty-text">
      <div>© 2019 Test Yantra Software Solutions</div>
    </div>
  </div>
</footer> 



