<app-header></app-header>
<router-outlet></router-outlet>
<!-- <app-addrequirement></app-addrequirement> -->
<!-- <app-toaster></app-toaster> -->
<!-- <app-charts></app-charts> -->
<app-footer></app-footer>