<nav class="navbar navbar-expand-lg  new-bg navbar-dark mb-4">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container" class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <!-- <a href="#" class="navbar-brand">Angular Crud</a> -->
    <a class="navbar-brand" href="index.html">
      <h2><span class="text-color">e</span>Survey</h2>
    </a>
    <ul class="navbar-nav ml-auto">

    </ul>
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item">
        <a class="nav-link text-white">abc@gmail.com</a>
        <a  class="nav-link text-white" style="margin-top: -20px;">Sahasra</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle  text-white" data-toggle="dropdown"> 
          <img src="assets/img/female.png" class="img-circle" width="40px" height="50px" style="border-radius:50%"
            class="rounded-circle z-depth-0" style="height: 30px;" alt="">
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info">
          <a class="dropdown-item" href="#">My account</a>
          <a class="dropdown-item" href="#">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container" *ngFor="let item of responses">
  <img src="http://10.10.12.181:8080/{{item.fileName}}" alt="Avatar" class="image"
    style="min-height: 300px; max-height: 300px;">

  <div class="overlay zoom" *ngIf="item.flag == true" (click)="navigationToUserSurveyList(item.surveyId)" style="cursor: pointer;">
    <!-- <div class="text">
      <p style="text-transform: capitalize;">{{item.description}}</p>
     
      </div> -->
    <div class="text" (click)="navigationToUserSurveyList(item.surveyId)" style="cursor: pointer;">
      <p style="text-transform: capitalize;text-align: justify;
        text-transform: capitalize;
        font-size: 15px;" >{{item.description}}</p>
    </div>

  </div>

  <div class="overlay" *ngIf="item.flag == false" >
    <!-- <div class="text">
      <p style="text-transform: capitalize;">{{item.description}}</p>
     
      </div> -->
    <div class="text">
      <p style="text-transform: capitalize;text-align: justify;
        text-transform: capitalize;
        font-size: 15px;" >{{item.description}}</p>
    </div>

  </div>


  <h6 style="text-transform: capitalize;text-align: center;">{{item.surveyName}}</h6>
</div>

<app-footer></app-footer>