
.wrapper{
  width: 960px;
  margin: 10% auto 0;
	border-radius: 50%;
}
a{
  text-decoration:none;
}

.single-portfolio{
  background-size:cover!important;
	border-radius: 10%;
}

.single-portfolio {
  position: relative;
  width: 300px;
  height: 300px;
  float: left;
  margin: 4px;
  background-size: 100%;
  background-position: center;
  transition: 0.5s;
  overflow: hidden;
  font-family: poppins;
  line-height: 1.2;
}

.single-portfolio::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(90%);
  background-color:red;
  color: #fff;
  content: attr(data-title);
  font-size: 04px;
  text-align: center;
}

.single-portfolio::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  opacity: 0;
  text-align: center;
  padding-top: 35%;
  font-size: 15px;
  text-transform: uppercase;
  content: attr(data-text);
  transition: 0.5s;
  margin-top: 8px;
  transform: translateY(100%);
}

.single-portfolio:hover:after{
  transform:translateY(0);
  transition:0.5s 0.1s;
  opacity:1;
}
.single-portfolio:hover:before{
  transform:translateY(0);
  padding:8px;
  transition:0.5s;
}




/* ignore the code below */


.link-area
{
  position:fixed;
  bottom:20px;
  left:20px;
  padding:15px;
  border-radius:40px;
  background:#262626;
}
.link-area a
{
  text-decoration:none;
  color:#fff;
  font-size:25px;
}

.myImg {
  height:40px;
  float: right;
  margin-top: 5px;
  cursor: pointer;
}


/* for card */

.zoom {
  padding: 50px;

  transition: transform .2s; /* Animation */
  height: 73% !important;
  width: 85% !important;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
  .container{
    /* margin-left: 354px !important;
    position: relative;
    width: 20%;
    float: left;
 
    margin-right: -353px !important;
    overflow-x: hidden;
    margin: 1px; */
    margin-left: 120px !important;
    position: relative;
    width: 20%;
    float: left;
    margin-right: -80px !important;
    overflow-x: hidden;
    margin: 1px;
  }

 


.image {
display: block;
width: 100%;
height: auto;
}

.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 13px;
right: 0;
height: 90%;
width: 93%;
opacity: 0;
transition: .5s ease;
background-color: #000;

}

.overlay:hover {
opacity: 0.8;
}

.text {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}
.modal-backdrop{
opacity: 0.9;
}