<div class="mycontainer mb-4">
  <div class="row joblist" *ngFor='let job of singleJobrequirement' style="margin:0 !important;padding:0 !important">
      <div class="col col-md-4" style="padding:0 !important; margin:0 !important;">
          <div style="padding: 15px;cursor: pointer;">
              <div class="card-title" style="margin-bottom: 0 !important;">
                  <h6 class="job-cardheading" style="text-align: justify;">{{job.title}}</h6>
              </div>
              <div class="card-body" style="padding: 0 !important;">
                  <div class="my-icons" style="margin-top:18px">
                      <span style="font-size:14px;padding-left: 2px;"><i class="fa fa-briefcase" style="font-size: 14px;color:grey">&nbsp;</i> {{job.yearOfExp}} Years </span> &nbsp;&nbsp;
                      <span style="font-size:13px;padding-left: 2px;margin-top: 2px;"><i class="fa fa-inr" aria-hidden="true" style="font-size: 14px;color:grey">&nbsp;</i>{{job.salaryFrom}}-{{job.salaryTo}} lakh</span>&nbsp;&nbsp;
                  </div>
              </div>
          </div>
      </div> 
      <div class="col col-md-4">
          <h6 class="job-cardheading mt-3" style="text-align: justify;">{{job.clientName}}</h6>
          <div class="my-icons" style="margin-top:16px">
            <span style="font-size:14px;"><i class="fa fa-map-marker" aria-hidden="true" style="font-size: 14px;color:grey">&nbsp;</i>{{job.location}}</span>
            <span style="font-size:11px;padding-left: 18px;margin-top: 7px !important;"><i class="fa fa-clock-o" style="font-size: 14px;color: #536777;"></i> &nbsp;{{job.startDate | date:'dd-MM-yyyy'}} to {{job.endDate | date:'dd-MM-yyyy'}}</span>
          </div>
      </div>
      <div class="col col-md-4" style="padding:0 !important;margin:0 !important">
          <h6 class="job-cardheading mt-3" style="text-align: justify;">key skills:</h6>
          <div class="my-icons" style="margin-top:16px">
            <span *ngFor='let skill of job.skills' style="padding: 2px 4px 2px 4px;font-size: 12px;margin-right: 10px;font-family: Roboto,sans-serif;color: #536777;">{{skill}}</span>
          </div>
      </div>
      <div class="col col-md-12">
          <p style="font-size:14px;margin-bottom: 0px !important;font-family: Roboto,sans-serif;color: #536777;text-align: justify;overflow-wrap: break-word;padding:12px 12px 12px 0px;">{{job.description}}</p>
      </div>
  </div>  
</div>
<div class="mycontainer">
  <div class="row"> 
    <div class="col col-md-10">
      <input type="search" [(ngModel)]='searchByName' placeholder="Search by name..." class="form-control">
    </div>
    <!-- <div class="col col-md-5">
      <input type="search" [(ngModel)]='searchByNumber' placeholder="Search by  number..." class="form-control">
    </div> -->
    <div class="col col-md-2">
      <input type="button" value="Add candidate" class="btn btn-outline-primary" data-toggle="modal"  data-target="#addCandidate" (click)='clearForm()'>
    </div>
  </div>
</div>

<div class="mycontainer  table-responsive mt-3">
  <table class="table table-hover zdepth-5" *ngIf='candidateList.length>0'>
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Location</th>
          <th>Edit</th>
          <th>status</th>
          <th>Deploy</th>
          <th>Delete</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidate of (candidateList   | candidatefilterByname:searchByName) ;index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{candidate.candidateName}}</td>
          <td>{{candidate.mailId}}</td>
          <td>{{candidate.contactNumber}}</td>
          <td>{{candidate.currentLoc}}</td>
          <td><button  data-toggle="modal" class="btn btn-primary btn-sm" data-toggle="modal"  data-target="#editCandidate" style="cursor:pointer;text-align: center;" (click)='editCandidate(candidate)'>
                <i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="tooltip" data-placement="left"  title="Edit"></i></button>
          </td>
          <td>
            <button class="btn btn-sm btn-primary" data-toggle="modal"  data-target="#candidatestatus" (click)="saveSingleCandidate(candidate)">
              <i class="fa fa-dot-circle-o" aria-hidden="true" data-toggle="tooltip" data-placement="right"  title="Status"></i></button>
          </td>
          <td>
            <button class="btn  btn-primary btn-sm" style="cursor:pointer" data-toggle='modal' data-target="#candidateDeployModal"  (click)='deployCandidateId(candidate)'>
              <i class="fa fa-paper-plane" aria-hidden="true" data-placement="right"  title="Delete" data-toggle="tooltip"></i></button>
          </td>
          <td>
            <button class="btn  btn-danger btn-sm" style="cursor:pointer" data-toggle='modal' data-target="#candidatedeleteModal"  (click)='saveCandidate(candidate)'>
              <i class="fa fa-trash" aria-hidden="true" data-placement="right"  title="Delete" data-toggle="tooltip"></i></button>
          </td>
          
        </tr>
      </tbody>
   </table>
</div>

<div class="modal fade" id="addCandidate" tabindex="-1" role="dialog">
<form [formGroup]='candidateForm'>
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel" >Add Candidate</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="padding-top: 0 !important;">
        <div class="row card-body mt-2 mycard zdepth-1" id="row1">
          <div class="col col-md-4">
            <input type="hidden" name="candidateId" formControlName='candidateId'>
            <div class="form-group">
              <label>Recruiter Name</label>
              <input type="text" name="recruiterName" formControlName='recruiterName' class="form-control" disabled=true>
            </div>
          </div>
          <div class="col col-md-4">
            <div class="form-group">
              <label>Client</label>
              <input type="text" name="client" class="form-control" formControlName='client' disabled=true>
            </div>
          </div>
          <div class="col col-md-4">
            <div class="form-group">
              <label>Candidate Name</label>
              <input type="text" name="candidateName" class="form-control" formControlName='candidateName' >
            </div>
          </div>
          <div class="col col-md-4">
            <div class="form-group">
              <label>Email</label>
              <input type="email" name="mailId" class="form-control" formControlName='mailId'>
            </div>
          </div>
          <div class="col col-12 col-md-4">
            <div class="form-group">
                <label for="status">Status</label>
                <input  name="status"  class="form-control" formControlName="status" disabled=true>
            </div>
         </div>
          <div class="col col-md-4">
            <div class="form-group">
              <label>Contact Num</label>
              <input type="Number" name="contactNumber" class="form-control" formControlName='contactNumber'>
            </div>
          </div>
          <div class="col col-md-4">
            <div class="form-group">
              <label>Location</label>
              <input type="email" name="currentLoc" class="form-control" formControlName='currentLoc'>
            </div>
          </div>
          <div class="col col-md-4">
            <div class="form-group">
              <label>Prefered Location</label>
              <input type="email" name="currentLoc" class="form-control" formControlName='currentLoc'>
            </div>
          </div>
          <!-- <i class="fa fa-minus-circle" aria-hidden="true" style="position: absolute;top:10px;right:10px;" (click)='myFunction($event.target.parentNode.id)'></i>  -->
        </div>
        <div class="row card-body mt-3 mycard zdepth-1" id="row2">
          <div class="col col-md-4">
            <div class="form-group">
              <label>CTC</label>
              <input type="Number" name="ctc" class="form-control" formControlName='ctc'>
            </div>
          </div>
          <div class="col col-md-4">
            <div class="form-group">
              <label>ECTC</label>
              <input type="Number" name="ectc" class="form-control" formControlName='ectc'>
            </div>
          </div>
          <div class="col col-md-4">
            <div class="form-group">
              <label>Total Exp</label>
              <input type="number" name="totalExp" class="form-control" formControlName='totalExp'>
            </div>
          </div>
          <div class="col col-md-4">
            <div class="form-group">
              <label>Relavant Exp</label>
              <input type="number" name="relExperience" class="form-control" formControlName='relExperience'>
            </div>
          </div>
          
          <div class="col col-md-4">
            <div class="form-group">
              <label>Current Organization</label>
              <input type="text" name="currOraganization" class="form-control" formControlName='currOraganization'>
            </div>
          </div>
          <div class="col col-md-4">
            <div class="form-group">
              <label>Notice Period</label>
              <input type="number" name="noticePeriod" class="form-control" formControlName='noticePeriod'>
            </div>
          </div>
          <!-- <i class="fa fa-minus-circle" aria-hidden="true" style="position: absolute;top:10px;right:10px;" (click)='myFunction($event.target.parentNode.id)'></i>  -->
        </div>
        <div formArrayName='skills' id="row4" class=" row mycard card-body mt-2 ">
          <div *ngFor="let control of skills.controls; index as i" style="width:100%;">
              <div class="row" style=" padding-left: 10px;">
                  <div class="col col-md-8" >
                      <div class="form-group">
                          <label>Skills{{i+1}}</label>
                          <input type="text" name="skill" [formControlName]='i' class="form-control" >
                      </div>
                  </div>
                  <div class="col col-md-4">
                      <button type="button" class="btn btn-outline-secondary mybtn" style="margin-top:34px" (click)='addSkills()'>+</button> &nbsp;
                      <button type="button" class="btn btn-outline-secondary mybtn" style="margin-top:34px" (click)='removeskill(i)' >-</button>
                  </div>
              </div>
          </div>
        </div>
   </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)='addCandidate()'>Submit</button>
    </div>
  </div>
</div>
</form>
</div>

<div class="modal fade" id="editCandidate" tabindex="-1" role="dialog">
<form [formGroup]='candidateForm'>
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Edit Candidate</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row card-body mt-2 mycard shodow" id="row2">
          <div class="col col-md-6">
              <input type="hidden" name="candidateId" formControlName='candidateId'>

            <div class="form-group">
              <label>Recruiter Name</label>
              <input type="text" name="recruiterName" formControlName='recruiterName' class="form-control" disabled='true'>
            </div>
          </div>
          <div class="col col-md-6">
            <div class="form-group">
              <label>Candidate Name</label>
              <input type="text" name="candidateName" class="form-control" formControlName='candidateName' >
            </div>
          </div>
          <div class="col col-md-6">
            <div class="form-group">
              <label>Total Exp</label>
              <input type="number" name="totalExp" class="form-control" formControlName='totalExp'>
            </div>
          </div>
          <div class="col col-md-6">
            <div class="form-group">
              <label>Relavant Exp</label>
              <input type="number" name="relExperience" class="form-control" formControlName='relExperience'>
            </div>
          </div>
          <div class="col col-md-6">
            <div class="form-group">
              <label>Email</label>
              <input type="email" name="mailId" class="form-control" formControlName='mailId'>
            </div>
          </div>
          <div class="col col-12 col-md-4">
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control input-lg"  formControlName="status">
                    <option value="Active">Active
                    <option value="In-Active">In-Active
                    <option value="On-Hold">On-Hold
                </select>
            </div>
         </div>
        </div>
        <div class="row card-body mt-2 mycard shodow" id="row1">
          <div class="col col-md-6">
            <div class="form-group">
              <label>CTC</label>
              <input type="Number" name="ctc" class="form-control" formControlName='ctc'>
            </div>
          </div>
          <div class="col col-md-6">
            <div class="form-group">
              <label>ECTC</label>
              <input type="Number" name="ectc" class="form-control" formControlName='ectc'>
            </div>
          </div>
          <div class="col col-md-6">
            <div class="form-group">
              <label>Contact Num</label>
              <input type="Number" name="contactNumber" class="form-control" formControlName='contactNumber'>
            </div>
          </div>
          <div class="col col-md-6">
            <div class="form-group">
              <label>Current Organization</label>
              <input type="text" name="currOraganization" class="form-control" formControlName='currOraganization'>
            </div>
          </div>
          <div class="col col-md-6">
            <div class="form-group">
              <label>Notice Period</label>
              <input type="number" name="noticePeriod" class="form-control" formControlName='noticePeriod'>
            </div>
          </div>
          <div class="col col-md-6">
            <div class="form-group">
              <label>Location</label>
              <input type="email" name="currentLoc" class="form-control" formControlName='currentLoc'>
            </div>
          </div>
          <!-- <i class="fa fa-minus-circle" aria-hidden="true" style="position: absolute;top:10px;right:10px;" (click)='myFunction($event.target.parentNode.id)'></i>  -->
        </div>
        <div formArrayName='skills' id="row4" class=" row mycard card-body mt-2 ">
          <div *ngFor="let control of skills.controls; index as i" style="width:100%;">
              <div class="row" style=" padding-left: 10px;">
                  <div class="col col-md-8" >
                      <div class="form-group">
                          <label>Skills{{i+1}}</label>
                          <input type="text" name="skill" [formControlName]='i' class="form-control" >
                      </div>
                  </div>
                  <div class="col col-md-4">
                      <button type="button" class="btn btn-outline-secondary mybtn" style="margin-top:34px" (click)='addSkills()'>+</button> &nbsp;
                      <button type="button" class="btn btn-outline-secondary mybtn" style="margin-top:34px" (click)='removeskill(i)' >-</button>
                  </div>
              </div>
          </div>
        </div>
   </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <button type="submit" class="btn btn-primary" (click)='updateCandidate(candidateForm)' data-dismiss="modal">Submit</button>
    </div>
  </div>
</div>
</form>
</div>

<div class="modal fade" id="candidatestatus" tabindex="-1" role="dialog">
  <form [formGroup]='scheduleInterviewForm'>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Interview Schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row card-body mt-2 mycard shodow">
              <div class="col col-md-4">  
                <div class="form-group">
                  <label>Date</label>
                  <input type="text" name="recruiterName"  bsDatepicker formControlName='date' class="form-control" [bsConfig]="{ isAnimated: true }">
                </div>
              </div>
              <div class="col col-md-4">
                <div class="form-group">
                  <label>Point of contact</label>
                  <input type="text" name="pointOfContact" class="form-control" formControlName='pointOfContact'>
                </div>
              </div>
              <div class="col col-md-4" style="margin-top:-22px">
                <div class="form-group">
                  <label style="position:absolute;top:13px">Time</label>
                  <timepicker formControlName='time' style="margin-left: 10px;"></timepicker>
                </div>
              </div>
              <div class="col col-md-6">
                <div class="form-group">
                  <label>contact number</label>
                  <input type="tel" name="contactPerson" class="form-control" formControlName='contactPerson'>
                </div>
              </div>
              <div class="col col-12 col-md-6">
                  <div class="form-group">
                      <label for="status">Status</label>
                      <select class="form-control input-lg"  formControlName="status">
                          <option value="Attending">Attending
                          <option value="Not-Attending">Not-Attending
                          <option value="Selected">Selected
                          <option value="Rejected">Rejected
                      </select>
                  </div>
              </div>
          </div>         
     </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)='interviewSchedule()' data-toggle='modal' data-target="#candidateMail">Send Mail</button>
      </div>
    </div>
  </div>
  </form>
</div>

<div class="modal fade" id="candidatedeleteModal" tabindex="-1" role="dialog" aria-labelledby="joblistLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="joblistLabel">Please confirm.. </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        Do you really want to ... ?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-danger"  data-dismiss="modal" (click)='deleteCandidate()'>Delete</button>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="candidateMail" tabindex="-1" role="dialog" style="overflow: auto !important;">
  <form [formGroup]='candidateMailForm'>
  <div class="modal-dialog modal-lg" role="document" style="max-width: 50% !important;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send Mail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="">
          <div class="row card-body mt-2 mycard shodow">
              <div class="col col-md-12">  
                <div class="form-group">
                  <label>From :</label>
                  <input type="text" name="from"  class="form-control" formControlName='from' >
                </div>
              </div>
              <div class="col col-md-12">
                <div class="form-group">
                  <label>To :</label>
                 <input type="text" name="to"   class="form-control" formControlName='to' >
                </div>
              </div>
              <div class="col col-md-12">
                <div class="form-group">
                  <label>Subject :</label>
                 <input type="text" name="subject" class="form-control" formControlName='subject'>
                </div>
              </div>
              
              <div class="col col-md-12">
                <div class="form-group">
                  <label>Content</label>
                  <textarea name="content" class="form-control" formControlName='content'></textarea>
                </div>
              </div>
              <div class="col col-md-12">
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" (change)='attachFile($event)'>
                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text" id="">Upload</span>
                  </div>
                </div>
              </div>
          </div>         
     </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-dismiss="modal" data-toggle='modal' data-target="#candidateMail" (click)='sendMail()'>Send</button>
      </div>
    </div>
  </div>
  </form>
</div>


<div class="modal fade" id="candidateDeployModal" tabindex="-1" role="dialog" style="overflow: auto !important;">
  <form [formGroup]='candidateDeployForm'>
  <div class="modal-dialog modal-lg" role="document" style="max-width: 60% !important;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deploy Candidate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row card-body mt-2 mycard shodow">
              <div class="col col-md-6"> 
                <input type="hidden" name="candidateId" formControlName='candidateId' class="form-control">
                <div class="form-group">
                  <label>PanNumber</label>
                  <input type="number" name="panNumber"  class="form-control" formControlName='panNumber' >
                </div>
              </div>
              <div class="col col-md-6">
                <div class="form-group">
                  <label>AdharNumber</label>
                 <input type="text" name="adharNumber"   class="form-control" formControlName='adharNumber' >
                </div>
              </div>
              
              <div class="col col-md-12">
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" (change)='resumeFile($event)' formControlName='resume'>
                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text" id="">Upload</span>
                  </div>
                </div>
              </div>
          </div>         
     </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"  data-toggle='modal' (click)='deployCandidate()'>Send</button>
      </div>
    </div>
  </div>
  </form>
</div>











