
  <div class="container">
    <div *ngFor='let survey of quiz'>
      <div *ngFor='let question of survey.questions; index as i'>
        <p>{{i+1}}){{question.name}}</p>
        <div *ngFor='let option of question.options; index as i'>
          <input  type="checkbox" disabled="disabled" [(ngModel)]="option.selected" /> {{option.name}}
        </div>
      </div>
    </div>
    

  </div>
  